<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="css/catalogStyle.css">
    <link rel="stylesheet" type="text/css" href="css/mainStyle.css">
    <link rel="shortcut icon" href="images/icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Mallanna|Mandali|Open+Sans+Condensed:300|Palanquin|Raleway+Dots" rel="stylesheet">
    <title>Catalog</title>
</head>

<body>
    <nav class="light-blue darken-4">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">more-recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <!-- 0000000000000000000 -->
                <ul class="hide-on-med-and-down left">
                    <li>
                        <div class="center row">
                            <div class="col s12 ">
                                <div class="center row hide-on-med-and-down">
                                    <div class="row " id="topbarsearch">
                                        <div class="input-field col s6 s12 white-text">
                                            <i class="white-text material-icons prefix">search</i>
                                            <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                </ul>
                <!-- 0000000000000000000000000 -->
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="catalog1.html">Catalog</a></li>
                <!-- <li><a class="waves-effect waves-light" href="login.html">Sign In</a></li>
                <li><a class="waves-effect waves-light" href="signup.html">Sign Up</a></li> -->
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="catalog1.html">Catalog</a></li>
            </ul>
            </div>
    </nav>
    </header>
    <main>
        <div class="container">
            <div class="center">
                <h2>more-recipes Catalog</h2>
            </div>
            <!-- 00000000000000000000000000000000000000000000000000000000000000000 -->
        </div>
        <div class="container">
            <br>
            <hr class="hr" />
            <div class="center">
                <ul class="pagination">
                    <!-- <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li> -->
                    <li class="waves-effect"><a href="catalog1.html">1</a></li>
                    <li class="waves-effect"><a href="catalog2.html">2</a></li>
                    <li class="selected"><a href="catalog3.html">3</a></li>
                    <!-- <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li> -->
                </ul>
            </div>
            <br>
            <div class="row">
                <div class="col s12 m4 l4">
                    <!-- 000000000000000000000000000000000000000000000001 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">comment</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m4 l4">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">comment</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m4 l4">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">comment</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
            </div>
            <br>
            <hr class="hr" />
            <br>
            <div class="row">
                <div class="col s12 m4 l4">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">comment</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m4 l4">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">comment</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m4 l4">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">comment</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 000000000000000000000000000000000000000000000006 -->
                </div>
            </div>
            <div class="center">
                <ul class="pagination">
                    <!-- <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li> -->
                    <li class="waves-effect"><a href="catalog1.html">1</a></li>
                    <li class="waves-effect"><a href="catalog2.html">2</a></li>
                    <li class="selected"><a href="catalog3.html">3</a></li>
                    <!-- <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li> -->
                </ul>
            </div>
            <br>
            <hr class="hr" />
            <br>
        </div>
    </main>
    <footer class="page-footer light-blue darken-4">
        <div class="footer-copyright">
            <div class="container">
                © 2017 more-recipes.
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="javascript/index.js"></script>
</body>

</html>