<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="css/indexStyle.css">
    <link rel="stylesheet" type="text/css" href="css/mainStyle.css">
    <link rel="shortcut icon" href="images/icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Mallanna|Mandali|Open+Sans+Condensed:300|Palanquin|Raleway+Dots" rel="stylesheet">
    <title>Welcome to more-recipes</title>
</head>

<body>
    <header>
            <nav class="light-blue darken-4">
                    <div class="nav-wrapper container">
                        <a href="#!" class="brand-logo">more-recipes</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
        
                            <li><a href="index.html">Home</a></li>
                            <li><a class="modal-trigger" href="#modal1">About</a></li>
                            <li><a href="catalog1.html">Catalog</a></li>
                            <li><a class="waves-effect waves-light" href="login.html">Sign In</a></li>
                            <li><a class="waves-effect waves-light" href="signup.html">Sign Up</a></li>
                        </ul>
                        <!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
                        <div id="modal1" class="modal">
                            <div class="modal-content black-text center">
                                  <br><br>
                                    <h3>more-recipes</h3>
                                    <p>
                                        <h4>&copy; 2017.</h4></p>
                                    <p>Version 1.0.0</p>
                            </div>
                            <!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
                            <ul class="side-nav" id="mobile-demo">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#modal1">About</a></li>
                                <li><a href="catalog1.html">Catalog</a></li>
                                <li><a class="waves-effect waves-light" href="login.html">Sign In</a></li>
                                <li><a class="waves-effect waves-light" href="signup.html">Sign Up</a></li>
                            </ul>
                            <!-- 0000000000000000000000000000000000000000000000 -->
        
                            <!-- 000000000000000000000000000000000000000000000000 -->
                        </div>
                </nav>
                <nav class="white ">
                    <div class="nav-wrapper container">
                      <div class="col s12 m5 l5 center container">
                      <div class="center row">
                          <div class="col s12 ">
                              <div class="center row">
                                  <div class="row " id="topbarsearch">
                                      <div class="input-field col s6 s12 white-text">
                                          <i class="light-blue-text text-darken-4 material-icons prefix">search</i>
                                          <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete light-blue-text text-darken-4 text-center">
                                      </div>
                                  </div>
                              </div>
                          </div>
                     </div>
                   </div>
                </nav>
    </header>
    <main>
        <div class="row">
            <div class="slider">
                <ul class="slides text-weight-bold">
                    <li>
                        <img src="https://lorempixel.com/800/400/food/1" class="filter image-height">
                        <!-- random image -->
                        <div class="caption center-align white-text">
                            <h3>FOOD IS ESSENTIAL TO LIFE</h3>
                            <h5 class="white-text text-lighten-2">therefore make it good.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://lorempixel.com/800/400/food/2" class="filter image-height">
                        <!-- random image -->
                        <div class="caption left-align white-text">
                            <h3>EATING IS A NECESSITY</h3>
                            <h5 class="white-text text-lighten-2">but cooking is an art</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://lorempixel.com/800/400/food/3" class="filter ">
                        <!-- random image -->
                        <div class="caption right-align white-text">
                            <h3>FOOD IS THE INGREDIENTS</h3>
                            <h5 class="white-text text-lighten-2">that binds us together.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="https://lorempixel.com/800/400/food/4" class="filter">
                        <!-- random image -->
                        <div class="caption center-align white-text">
                            <h3>A RECIPE HAS NO SOUL!</h3>
                            <h5 class="white-text text-lighten-2">you must bring soul to recipe</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 00000000000000000000000000000000000000000000000000000000000000000 -->
        </div>
        <div class="row">
            <br>
            <hr class="hr" />
            <div class = "container"><h4>Top Recipes</h4></div>
            <hr class="hr" />
            <br>
            <div class="row">
                <div class="col s12 m3 l3">
                    <!-- 000000000000000000000000000000000000000000000001 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                    <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                        <div class="count">20</div>
                                                    </td>
                                                    <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                        <div class="count">20</div>
                                                    </td>
                                                    <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                        <div class="count">20</div>
                                                    </td>
                                                    <td><span><i class="material-icons votereview">comment</i></span>
                                                        <div class="count">20</div>
                                                    </td>
                                                    
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </a>
                    <!-- 000000000000000000000000000000000000000000000001 -->
                </div>
                <div class="col s12 m3 l3">
                    <!-- 000000000000000000000000000000000000000000000001 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                    </div>
                                    <div class="card-action">
                                        <table>
                                                <tr>
                                                        <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">comment</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        
                                                    </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m3 l3">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                    </div>
                                    <div class="card-action">
                                        <table>
                                            <tr>
                                                <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                <td><span><i class="material-icons votereview">comment</i></span>
                                                    <div class="count">20</div>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m3 l3">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                    </div>
                                    <div class="card-action">
                                        <table>
                                                <tr>
                                                        <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">comment</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        
                                                    </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
            </div>
            <br>
            <hr class="hr" />
            <br>
            <div class="row">
                <div class="col s12 m3 l3">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                    </div>
                                    <div class="card-action">
                                        <table>
                                                <tr>
                                                        <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">comment</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        
                                                    </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m3 l3">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                    </div>
                                    <div class="card-action">
                                        <table>
                                                <tr>
                                                        <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">comment</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        
                                                    </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 00000000000000000000000000000000000000000000000 -->
                </div>
                <div class="col s12 m3 l3">
                    <!-- 00000000000000000000000000000000000000000000000 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                    </div>
                                    <div class="card-action">
                                        <table>
                                                <tr>
                                                        <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">comment</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        
                                                    </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 000000000000000000000000000000000000000000000006 -->
                </div>
                <div class="col s12 m3 l3">  
                    <!-- 000000000000000000000000000000000000000000000006 -->
                    <a href="selectedrecipes.html">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card card-border">
                                    <div class="card-image">
                                        <img src="images/burger.jpg">
                                        <!-- <span class="card-title titleBackground">Card Title</span> -->
                                    </div>
                                    <div class="card-content">
                                        <hr><span class="recipe-name-font indigo-text text-darken-4">Burger</span>
                                        <hr>
                                        <p>I am a very simple card. I am good at containing small bits of information.
                                    </div>
                                    <div class="card-action">
                                        <table>
                                                <tr>
                                                        <td><span><i class="material-icons votereview">thumb_up</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">thumb_down</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">remove_red_eye</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        <td><span><i class="material-icons votereview">comment</i></span>
                                                            <div class="count">20</div>
                                                        </td>
                                                        
                                                    </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- 000000000000000000000000000000000000000000000006 -->
                </div>
            </div>
            <br>
            <hr class="hr" />
            <br>
        </div>
    </main>
    <footer class="page-footer light-blue darken-4">
        <div class="footer-copyright">
            <div class="container">
                © 2017 more-recipes.
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="javascript/index.js"></script>
</body>

</html>
