body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#searchIcon {
    /*  line-height: 0px;*/
    direction: flex;
    align-items: center;
    color: #01579b;
}

img {
    width: 100%;
}

.votereview {
    color: #aaa;
}

#topbarsearch {
    margin: 0px 10px;
}

.card-border {
    border: solid thin #d6d4d4;
}

.card-content{
  color: #000;
}

.recipe-name-font {
    font-weight: bold;
}

.count {
    padding: 0px 3px 6px 3px;
    font-weight: bold;
    color: #000;
}

#autocomplete-input{
  font-size: 150%;
  font-weight: bold;
}

.filter{
  filter: brightness(70%);
}

.image-height{
    height: 130%;
}

.profile-image{
    min-height: 100%;
    background-image: url('../image/talia.jpg');
}

.v-height{
    min-height: 100vh;
    flex-direction: column;
    background: #eee;
}

.height{
    min-height: 100vh;
}

/*00000000000000000000000*/

#form1{
    margin-left:200px;
  }
  .side-nav li a {
    text-decoration:none;
  }
  #searchResults2{
    background-color:#666666;
  }
  #searchResults{
    background-color:#666666;
  }
  .right li a{
    padding-right:2em;
    text-decoration:none
