#selectedRecipe {
    min-width: 100%;
    min-height: 650%;
}

#description {
    min-width: 100%;
    min-height: 350%;
}

#ingredient {
    min-width: 100%;
    height: 100hv;
}

#instruction {
    min-width: 100%;
    height: 100hv;
}

.selected-recipe {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}